body {
    overscroll-behavior: none;
    touch-action: auto;
    font-family: "Lexend", sans-serif;
    background-color: #fff6e5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}


img {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('BG.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

h2, h3 {
    text-align: center;
    color: #135d66;
    margin-top: 30px;
}

div {
    text-align: center;
}

.btns {
    background-color: #028391;
    display: flex;
    margin: 0;
    width: 95%;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

button {
    font-family: "Lexend", sans-serif;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    transition: background-color 0.3s;
    background-color: #135d66;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #026e67;
}

.log {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.log h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: #007BFF;
}

.log p {
    font-size: 1.2em;
    margin-top: 5px;
    color: #555;
}

textarea {
    height: 100px;
    width: 95%;
    max-width: 400px;
    margin: 10px 0;
    border-radius: 5px;
    resize: none;
    font-family: "Lexend", sans-serif;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
